<h3>Privacy Terma</h3>

<p>Use this page to detail your site's privacy policy.</p>
<p style="color:green; font-size:25px; font-style:italic">
    Check all the privacy policy here.
</p>
<h3 style="color:maroon; font-size:50px; font-style:italic; text-align:center;padding-top:25px">
    Use this page to detail your site's privacy policy.
</h3>